# @deelaa-ui/{{componentName}}

> TODO: description 

A Quick description of the component

This is an internal utility, not intended for public usage.

## Installation

```sh
yarn add @deelaa-ui/{{componentName}}
# or
npm i @deelaa-ui/{{componentName}}
```

## Usage

```
import {{ componentName }} from '@deelaa-ui/{{ packageName }}';

// TODO: DEMONSTRATE API
```
